.header {
  text-align: center;
  margin: 10px;
}

.box {
  /* display: flex; */
  /* align-self: center; */
  width: 200px;
  border: 1px solid black;
  height: 200px;
  padding: 5px;
  text-align: center;
  margin: 10px;
  display: inline-block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1px;
  
  
}

h2, h3, h4 {
  text-align: center;
  color: blueviolet;
}

.lightBulb {
  width: 200px;
  padding: 5px;
  text-align: center;
  margin: 10px;
  display: inline-block;
  
}

.diceBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
  width: 15%;
  border: 1px solid black;
  height: 50px;
  padding: 5px;
  text-align: center;
  /* margin: 10px; */
  /* display: inline-block; */
}

.lastRoll {
  text-align: center;
}

.lastRoll h3 {
  display: block;
  margin-bottom: -20px; /* Adjust spacing between elements */
}

.buttonSuper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.buttonSuper button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: lightgreen;
}

.buttonSuper button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.12);
}

.button button.add {
  background-color: #3498db;
  color: white;
}

.button button.delete {
  background-color: #e74c3c;
  color: white;
}

/* Hover effect */
.button button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.12);
}